<input type="text" [(ngModel)]="search" (keyup)="searchConsumers()">
<a mat-icon-button matTooltip="New consumer"
        routerLink="/consumer-fiche">
        <mat-icon>person_add</mat-icon>
</a>


<table>
  <tr *ngFor="let consumer of consumersObs$|async">
    <td>{{consumer.id}}</td>
    <td>{{consumer.firstname}}</td>
    <td>{{consumer.lastname}}</td>
    <td>{{consumer.email}}</td>
    <td>{{consumer.phone | phone}}</td>
    <td>
      <a mat-icon-button matTooltip="edition"
        [routerLink]="['/consumer-fiche', consumer.id]">
        <mat-icon>edit</mat-icon>
      </a>
      <button mat-icon-button (click)="deleteConsumer(consumer.id)">
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </tr>
</table>
