
<form [formGroup]="loginForm" (ngSubmit)="logMeIn()">
  <p>
    <label for="login">login</label>
    <input type="text" name="login" formControlName="login">
    <span *ngIf="loginForm.get('login')?.touched
                    && loginForm.get('login')?.invalid">
      <span *ngIf="loginForm.get('login')?.errors?.['required']">
        please enter your login
      </span>
      <span *ngIf="loginForm.get('login')?.errors?.['minlength']">
        minimal length if 3 characters
      </span>
    </span>
  </p>
  <p>
    <label for="password">password</label>
    <input type="password" name="password" formControlName="password">
  </p>
  <button type="submit" [disabled]="loginForm.invalid">Login</button>
</form>

