<mat-toolbar color="primary">
  <span>{{title}}</span>
  <span class="fill-space"></span>
  <span>
    <a mat-icon-button matTooltip="Home"
        routerLink="/home"
        routerLinkActive="isActive">
        <mat-icon>home</mat-icon>
    </a>
    <a mat-icon-button matTooltip="Consumers"
        routerLink="/consumer-list"
        routerLinkActive="isActive">
        <mat-icon>list</mat-icon>
    </a>
    <a mat-icon-button matTooltip="logout"
        routerLink="/login"
        routerLinkActive="isActive">
        <mat-icon>person</mat-icon>
    </a>
  </span>
</mat-toolbar>

<router-outlet></router-outlet>

